<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h3>Login</h3>
        <form action="{% url 'login' %}" method="POST">
            {{ form.as_p }}
            <input type="submit" value="Submit" name="Submit">
        </form>
        <hr>
        <h1>OR</h1>
        <h3>Create An Account</h3>
        <form action="{% url 'register' %}" method="POST">
            {{ form.as_p }}
            <input type="submit" value="Submit" name="Submit">
        </form>
        <hr>
    </body>
</html>