<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h3>Login</h3><br>
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
       <strong {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >
           {{ message }}</strong><br><br>
    {% endfor %}
</ul>
{% endif %}<br>
        <form action="{% url 'login' %}" method="POST">
            Username<input type="text" name="username"><br>
            Password<input type="password" name="password"><br>
            <input type="submit" value="Submit" name="Submit">
        </form>
        <hr>
        <h1>OR</h1>
        <h3>Create An Account</h3>
        <form action="{% url 'register' %}" method="POST">
            Username<input type="text" name="username"><br>
            Password<input type="password" name="password"><br>
            <input type="submit" value="Submit" name="Submit">
        </form>
        <hr>
    </body>
</html>